NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_EXPLORER=https://explorer-studio.genlayer.com
NEXT_PUBLIC_FRELEASE_REGISTRY_ADDRESS=0x43041f5D120001653623A1c66Ab33a8EaFca25F7
NEXT_PUBLIC_FRELEASE_EVALUATOR_ADDRESS=0x7e1869298F9FcD847bd3aA764086F20a6589e991
