NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_EXPLORER=https://explorer-studio.genlayer.com
NEXT_PUBLIC_FRELEASE_REGISTRY_ADDRESS=
NEXT_PUBLIC_FRELEASE_EVALUATOR_ADDRESS=
